* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 26px;
    font: 13px/1.4 Arial, sans-serif;
    background: #fffbdb;
}
a:hover {
    text-decoration: none;
}
.container {
    max-width: 1820px;
    margin: 0 auto;
}
.tabs {
    margin-top: 30px;
}
.tabs__inner {
    max-width: 1740px;
    margin: 0 auto;
}
.tabs__caption {
    display: flex;
    justify-content: center;
    list-style: none;
}
.trapeze {
      border-bottom: 50px solid #d7b56d;
      border-left: 41px solid transparent;
      border-right: 41px solid transparent;
      width: 186px;
      position: relative;
}
.trapeze span {
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
    position: absolute;
    left: -15%;
    margin-right: -22%;
    bottom: -41px;
}
.tabs__caption li:nth-child(4) span,
.tabs__caption li:nth-child(5) span {
    margin-right: -20%;
    bottom: -42px;
    letter-spacing: -0.3px;
}
.tabs__caption li:nth-child(4) span {
    font-size: 12px;
    left: -20%;
}
.tabs__caption li:nth-child(5) span {
    font-size: 14px;
    left: -16%;
}
.tabs__caption li:nth-child(1) span,
.tabs__caption li:nth-child(6) span,
.tabs__caption li:nth-child(7) span {
    margin-right: -20%;
    left: 9%;
    bottom: -35px;
}
.tabs__caption li {
    text-align: center;
    cursor: pointer;
} 
.tabs__caption .active {
    display: block;
    margin: 0 -20px;
    border-bottom: 27px solid #d7b56d;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    cursor: default;
} 
.tabs__content {
    display: none;
    border: 6px solid #dab870;
    border-radius: 119px;
    padding: 26px 45px;
}
.tabs__content.active {
    display: block;
}
