* {
    margin: 0;
    padding: 0;
  }
  body {
    margin: 30px;
    font: 13px/1.4 Arial, sans-serif;
  }
 
  a:hover {
    text-decoration: none;
  }
  p {
    padding: 7px 0;
  }
  h1 {
    font-size: 21px;
    font-weight: normal;
    margin: 0 0 30px;
  }
  h2 {
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 25px;
  }
  body {
    background: #fffbdb;
  }
  .tabs {
    max-width: 1920px;
    margin: 0 auto;
  }
  .tabs__inner {
    max-width: 1740px;
    margin: 0 auto;
  }
  .tabs__caption {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
  }

  .tabs__caption li {
    padding: 9px 15px;
    margin: 1px 0 0 1px;
    position: relative;
    text-align: center;
    border-bottom: 58px solid #d7b56d;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    height: 0;
    width: 100px;
    cursor: pointer;
    }
  .active {
      position: absolute;
  }

.tabs__caption .active {
    display: block;
    border-bottom: 84px solid red;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
  } 

  .tabs__content {
    display: none;
    border: 6px solid #dab870;
    border-radius: 50px;
    padding: 7px 15px;
  }
  .tabs__content.active {
    display: block;
  }

  @media screen and (max-width: 650px) {
    .tabs__caption li {
      -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
    }
  }
  